.card {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
  height: auto;
  margin: 10px;
}

.card-title {
  background-color: #011aff;
  margin: 0;
  padding: 0;
}

.card-price {
  color: rgb(8, 200, 8);
  background-color: aliceblue;
}

button {
  margin: 20px;
}
