@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Hind&family=Raleway:wght@800&family=Signika+Negative:wght@500&display=swap");

html,
body {
  font-size: 3vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Dosis", sans-serif;
  font-family: "Hind", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Signika Negative", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #f66d0c, #dd2476);
  /* color: #32e37f; */
  color: #fff;
}
