html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-weight: bolder;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(180deg, #df4103 100%, #f6eae4 50%);
  color: rgb(255, 255, 255);
}
