.main-menu-container {
  width: 45vh;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: rgb(54, 53, 53) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: #272a3d;
  font-size: 20px;
}

.menu-title {
  font-size: 60px;
}

.play-button {
  margin-top: 5px;
  height: 5vh;
  width: 40%;
  outline: none;
  border: none;
  border-radius: 20px;
  transition-duration: 0.5s;
  cursor: pointer;
  color: #030303;
  font-weight: bolder;
  background-color: #fff;
  font-size: 15px;
}

.play-button:hover {
  background-color: #5757e9d3;
  border: 1.5px solid #5757e9d3;
  color: rgb(255, 255, 255);
}
