.main-menu-container {
  padding: 20%;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: #272a3d;
}

.menu-title {
  font-size: 60px;
}

.play-button {
  height: 5vh;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 20px;
  transition-duration: 0.5s;
  cursor: pointer;
  color: #030303;
  font-weight: bolder;
  background-color: #fff;
  font-size: 15px;
}

.play-button:hover {
  background-color: rgb(14, 7, 71);
  border: 1.5px solid rgb(14, 7, 71);
  color: rgb(255, 255, 255);
}
