.card-letter {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(255, 255, 255);
  margin: -1.2px;
  width: 30px;
  height: 30px;
  padding: 20px;
}

@media screen and (max-width: 600px) {
  .card-letter {
  padding: 5px;
  width: 25px;

    
  }
}
