.card-letter {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(255, 255, 255);
  margin: -1.2px;
  font-size: 70px;
  line-height: 1.5;
  font-weight: bold;
  width: 100px;
  height: 100px;
  background-color: rgb(0, 255, 255);
  color: rgb(7, 38, 139);
}


@media screen and (max-width: 920px) {
  .card-letter {
    width: 70px;
    height: 70px;
    font-size: 40px;
  }
}


@media screen and (max-width: 600px) {
  .card-letter {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }
}