.letters-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blank,
.letter {
  background-color: aqua;
  border: 2px solid white;
  width: 80px;
  height: 80px;
}

@media screen and (max-width: 700px) {
  .blank,
  .letter {
    background-color: aqua;
    border: 2px solid white;
    width: 50px;
    height: 50px;
  }
  body {
    font-size: 15px;
  }
}
