.letters-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blank,
.letter {
  background-color: aqua;
  border: 2px solid white;
  width: 80px;
  height: 80px;
}

@media screen and (max-width: 700px) {
  .blank,
  .letter {
    background-color: aqua;
    border: 2px solid white;
    width: 30px;
    height: 30px;
    font-size: 25px;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 35px;
  }
}
